<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
   <header>
   <div class="cart">
       <form action="#" class="search-form" @submit.prevent="">
                <input type="text" class="search-field" v-model="searchLine">
                <button class="btn-search" type="submit" @click="FilterGoods()">
                    <i class="fas fa-search"></i>
                </button>
       </form>
       <button class="btn-cart" @click="showCart=!showCart">Cart</button>
       <div class="cart-block" v-show="showCart">
           <div class="cart-item" v-for="item of productsCart" :key="item.id_product">
          <div class="product-bio">
          <img :src="imgCart" :alt="item.product_name">
          <div class="product-desc">
          <p class="product-title">{{ item.product_name }}</p>
          <p class="product-quantity">Количество:{{ item.quantity }}</p>
          </div> 
          <div class="product-price-del">
          <p class="product-price">{{ item.quantity*item.price }} руб</p>
          <button class="bth-del" @click="remove(item)">&times;</button>
          </div>  
          </div>      
          </div>
       
       </div>    
   </div>
   </header>
   <main>
       <div class="products">
           <div class="product-item" v-for="el of FilterGoods" :key="el.id_product">
             <img :src="imgCatalog" :alt="el.product_name">
             <h3>{{ el.product_name }}</h3>
             <p>{{ el.price }} руб</p>
             <button class="bth-buy" @click="addProduct(el)">Купить</button>
            </div>
       </div>
   </main> 
   </div>
   
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
<script defer src="js/main.js"></script>
</body>
</html>